  program.main_menu.program = &program;
  data[MAIN_MENU] = &program.main_menu;
  program.cinematic.program = &program;
  data[CINEMATIC] = &program.cinematic;
  program.ingame.program = &program;
  data[INGAME] = &program.ingame;
  program.credit.program = &program;
  data[CREDIT] = &program.credit;
  program.sgsplash.program = &program;
  data[SGSPLASH] = &program.sgsplash;
